.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    padding: 6rem 1rem;
    position: relative;
}

.section:nth-child(odd) {
    padding: 10rem 1rem;
}

.section:nth-child(odd)::before {
    content:'';
    position: absolute;
    bottom: -1px;
    left: -1px;
    right: -1px;
    top: -1px;
    z-index: 3;
    pointer-events: none;
    background-repeat: no-repeat; 
    background-size: 100% 160px;
    background-position: 0% 100%;
    background-image: url('./assets/icons/shape.svg');
    rotate: 180deg;
}

.section:nth-child(odd)::after {
    content:'';
    position: absolute;
    bottom: -1px;
    left: -1px;
    right: -1px;
    top: -1px;
    z-index: 3;
    pointer-events: none;
    background-repeat: no-repeat; 
    background-size: 100% 160px;
    background-position: 0% 100%;
    background-image: url('./assets/icons/shape.svg');
}

.section-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    text-align: center;
    transform: translateY(4rem);
    opacity: 0;
}

.section-header__title {
    font-size: 2.2rem;
}

.section-header__desc {
    max-width: 30rem;
    font-size: 0.9rem;
}

.button {
    margin: auto;
    padding: 0.7rem 3rem;
    font-size: 0.9rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    border: none;
    border-radius: 0.5rem;
}

.cta__btn {
    background-color: var(--color-main);
}

.animate {
    animation: fade-in-bottom 1s ease both;
}

.slide-animate {
    animation: slide-big linear both;
    animation-timeline: view(inline);
}

@media screen and (min-width: 1024px) {
    .section {
        padding: 4rem 15dvw;
    }

    .section:nth-child(odd) {
        padding: 8rem 15dvw;
    }
}

@keyframes fade-in-bottom {
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slide-small {
    0%, 100% {
        transform: scaleY(0.8);
        opacity: 0.7;
    }
    50% {
        transform: scaleY(1);
        opacity: 1;
    }
}

@keyframes slide-big {
    0%, 100% {
        transform: scale(0.8);
        opacity: 0.7;
    }
    50% {
        transform: scale(1);
        opacity: 1;
    }
}






/************************************ ABOUT RULES *****************************************/
.about {
    background-color: var(--text-color);
    color: var(--color-sec);
}

.about-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;
    width: 100%;
    list-style: none;
    animation: fade-in-bottom ease both;
    animation-timeline: view();
    animation-range-end: contain 60%;
}

.about-list__item {
    flex: 1 0 min(18rem, 100%);
    aspect-ratio: 5/2;
    max-width: 20rem;
    border: 1px solid #0001;
    animation: fade-in-bottom ease both;
    animation-timeline: view();
    animation-range-end: contain 60%;
}

.about-card {
    display: flex;
    gap: 0.5rem;
    width: 100%;
    height: 100%;
    overflow: clip;
    background-color: #eee;
    border-radius: 0.5rem;
    box-shadow: 0 3px 0.5rem #0002;
}

.about-list__item:nth-child(even) .about-card {
    flex-direction: row-reverse;
    text-align: right;
}

.about-card__img {
    height: 100%;
    aspect-ratio: 1;
}

.about-card__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    text-align: inherit;
}

.about-card__name {
    font-size: var(--font-dc);
    letter-spacing: 0.1rem;
    text-align: inherit;
}

.about-card__desc {
    color: var(--color-light);
    font-size: var(--font-sm);
    letter-spacing: 0.1rem;
    text-wrap: balance;
}

@media screen and (min-width: 1024px) {
    .section {
        padding: 6rem 15dvw;
    }
}