.footer {
    background: var(--color-dark);
    color: #fff;
    text-align: center; 
}

.footer:nth-child(odd)::after {
    background: none;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4rem;
}

.footer-item {
    flex: 1 0 min(6rem, 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.footer-item__title {
    color: var(--color-main);
    font-size: 1rem;
    text-transform: capitalize;
}

.footer .nav-list__link {
    display: block;
    padding: 0.3rem 0;
    color: #ddd;
    font-size: 0.9rem;
}

.footer .logo {
    width: 4rem;
    height: 4rem;
}

.footer-rights {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    font-size: 1rem;
}

.footer__copy {
    text-transform: uppercase;
}

.footer__author a {
    text-decoration: underline;
}