.header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    width: 100dvw;
    color: var(--text-color);
    background-color: var(--color-sec);
    top: 0;
    z-index: 100; 
}

.header .logo { 
    width: 1.5rem; 
}

.header .nav {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.header .nav-list {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    /* height: 100%; */
}

.header .nav-list__link {
    font-size: 0.8rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
}

@media screen and (min-width: 600px) {
    .header__title {
        display: block;
    }
}

@media screen and (min-width: 1024px) {
    .header {
        padding: 0.5rem 4rem;
    }

    .header .nav {
        display: block;
    }
}