.hero {
    justify-content: space-between;
    align-items: center;
    gap: 6rem;
    min-height: 100dvh;
    color: var(--text-color);
    text-align: center;
    background-image: linear-gradient(var(--color-sec) 10%, #0009, #0003), url("../imgs/hero-bg-small.webp");
    background-position: center;
    background-size: cover;
    overflow: clip;
    position: relative;
}

.hero::after {
    content:'';
    position: absolute;
    bottom: -1px;
    left: -1px;
    right: -1px;
    top: -1px;
    z-index: 3;
    pointer-events: none;
    background-repeat: no-repeat; 
    background-size: 100% 160px;
    background-position: 0% 100%;
    background-image: url('../icons/shape.svg'); 
}

.hero-content {
    display: flex;
    flex-direction: column;
    gap: 3rem; 
}

.hero .title {
    font-size: 3rem;
    font-weight: 400;
}

.hero .title__2nd {
    display: block;
}

.hero__text {
    max-width: 30rem;
}

.hero .contact-info {
    display: flex;
    gap: 3rem;
}

.hero .contact-item {
    width: 1.5rem;
    height: 1.5rem;
}

.hero .contact-item__link:hover {
    transform: scale(1.1);
}

.hero .contact-item__link {
    width: 1.2rem;
}

@media screen and (min-width: 1024px) {
    .hero {
        flex-direction: row;
        align-items: center;
        text-align: left;
        background-image: linear-gradient(225deg, var(--color-sec) 10%, #0009, #0003), url("../imgs/hero-bg-small.webp");
        background-position: center;
        background-size: cover;
    }

    .hero .contact-info {
        flex-direction: column;
        gap: 4rem;
    }
}