.local-banner {
    display: none;
    flex-wrap: wrap;
    align-items: center;
    padding: 0.5rem 15dvw;
    color: var(--text-color);
    font-size: 0.8rem;
    background-color: var(--color-sec);
}

.local-banner__item {
    flex: 1 0 min(14rem, 100%);
}

.local-banner__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.local-banner__title {
    font-size: 0.9rem;
}

@media screen and (min-width: 1024px) {
    .local-banner {
        display: flex;
    }
}