.projects:nth-child(odd) {
    padding: 10rem 0;
    color: var(--color-sec);
    text-align: center;
    background-color: var(--text-color);
    overflow-x: clip;
} 

.projects-list {
    display: flex;
    gap: 1rem;
    padding: 1rem 40vw;
    width: 100%;
    overflow-y: clip;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    position: relative;
    transform: translateY(4rem);
    opacity: 0;
}

.project {
    flex: 1 0 min(22rem, 85vw);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
    padding: 2.5rem;
    aspect-ratio: 1;
    border-radius: 0.5rem;
    box-shadow: 0 0 1rem #0004;
    scroll-snap-align: center;
    transition: transform 0.3s, background 0.3s;
}

.project__title {
    color: var(--color-main);
    transition: transform 0.3s;
}

.project:hover .project__title {
    transform: translateY(5rem);
}

.project-list {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    list-style: disc;
    text-align: left;
    transition: opacity .3s, transform .3s;
}

.project:hover .project-list {
    opacity: 0;
    transform: translateY(5rem);
}

.project-list__item::marker {
    color: var(--color-main);
}

.project-list__item {
    color: #eee;
    font-size: 0.9rem;
}