.services {
    text-align: center;
    background: var(--text-color);
    color: var(--color-sec);
}

.services-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.service {
    flex: 1 0 min(15rem, 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 20rem;
    background-color: #24449A22;
    border-radius: 0.5rem;
    transform: translateY(4rem);
    opacity: 0;
    overflow: clip;
}

.service-pict {
    width: 100%;
    aspect-ratio: 5/3;
}

.service__img {
    max-width: 100%;
}

.service-text {
    display: flex; 
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
}

.service__head {
    color: var(--color-sec);
    font-size: 1rem;
    font-weight: 700;
    text-overflow: clip;
}

.service__desc {
    color: var(--color-dark);
    font-size: 0.9rem;
    font-weight: 400;
}