.steps {
    color: var(--text-color);
    background-color: var(--color-sec);
}

.steps-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.step {
    flex: 1 0 min(15rem, 100%);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    max-width: 20rem;
    background: linear-gradient(to right, #14243Aaa, #14243A66);
    border-radius: 0.5rem;
    transform: translateY(4rem);
    opacity: 0;
}

.step__img { 
    width: 2.5rem;
    height: 2.5rem;
}

.step__text {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width:90%;
}

.step__title {
    font-size: 1rem;
}

.step__title::first-letter {
    color: var(--color-main);
    font-size: 1.2rem;
}

.step__desc {
    color: #ddd;
    font-size: 0.9rem;
}